In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import json
pd.pandas.set_option('display.max_columns',None)
import time
from datetime import datetime
import sympy as sym   # Solving Calculus, Limits, 
# import tnrange
# import tqdm_notebook
# import nb_black -> Automatic code formatter?

# BASICS

# LIST

### Popular methods - 
- append - Entire string is added
- extend - String added charcter by character individually
- insert - Given value at given index
- pop - deleting a value
- count(value) - Counts Occurances
- sort() 
- c_lst = o_lst  copy by reference & c_lst = o_lst.copy()  copy by value
- + => Concatenation -> [1,2,3] + [2],[1,2,3] + ['A','B']

In [2]:
nums = [2,3,4,5,6] # len = 5
for i in range(len(nums)-1,1,-1):
    print(nums[i])

6
5
4

In [3]:
import numpy as np
ar=np.array([1,0,0,1])
arr2=np.array([1,0,0,0])
arr3=np.array([0,0,0,0])

In [4]:
for i in range(0,3):
    tl_vec=np.array([1,0,0,i])
    if i==0:
        tlmat = np.array([tl_vec])
    else:
        tlmat = np.vstack([tlmat,tl_vec])

In [5]:
if len(tlmat)>0:
    plmat = list(tlmat.sum(axis=0))

In [6]:
tlmat,plmat
PROL_RULES = ["prolrule1","prolrule2","prolrule3","prolrule4"]

In [7]:
result = {PROL_RULES[i]:plmat[i] for i in range(len(PROL_RULES))}
result

{'prolrule1': 3, 'prolrule2': 0, 'prolrule3': 0, 'prolrule4': 3}

In [8]:
# Range Funciton -
a = [5,2,3,8,6,1,0,9] # size=8
for i in range(len(a)-1): #range(3) generates 0,1,2
    print(i,a[i])
for i in a:
    print(i)
for i in range(0,len(a)):
    print(i,a[i])

0 5
1 2
2 3
3 8
4 6
5 1
6 0
5
2
3
8
6
1
0
9
0 5
1 2
2 3
3 8
4 6
5 1
6 0
7 9

In [9]:
myarr = [4,6,3,4,7,2,233,64]
for val in myarr: 
    print("val - ",val) # iterate by value
for i in range(len(myarr)): 
    print("val - ",myarr[i]) # iterate by value  
for i in range(len(myarr)): 
    print("index - ",i) # iterate by index 
for idx,val in enumerate(myarr): 
    print("idx-val - ",idx,val) # iterate by both
for idx,val in enumerate(range(len(myarr))): 
    print("range idx-val - ",idx,val) # iterating by both but here val is also idx, thus non sense
# for idx,val in enumerate(len(myarr)): 
#     print("idx-val - ",idx,val) # Wrong
# for i in myarr[i]:
#     print(i) # IndexError: list index out of range

val -  4
val -  6
val -  3
val -  4
val -  7
val -  2
val -  233
val -  64
val -  4
val -  6
val -  3
val -  4
val -  7
val -  2
val -  233
val -  64
index -  0
index -  1
index -  2
index -  3
index -  4
index -  5
index -  6
index -  7
idx-val -  0 4
idx-val -  1 6
idx-val -  2 3
idx-val -  3 4
idx-val -  4 7
idx-val -  5 2
idx-val -  6 233
idx-val -  7 64
range idx-val -  0 0
range idx-val -  1 1
range idx-val -  2 2
range idx-val -  3 3
range idx-val -  4 4
range idx-val -  5 5
range idx-val -  6 6
range idx-val -  7 7

#### Generator Comprehension - Round brackets

In [10]:
print((val for val in range(1, 20+1) if n % val == 0))

<generator object <genexpr> at 0x000001D339E640B0>

#### List Comprehension - Square Brackets

In [13]:
response = [1,2,3,4]
plmat = list(np.zeros([1,len(response)]))
print(plmat)

[array([0., 0., 0., 0.])]

In [ ]:
lst = [i**2 for i in range(1,11)]
['E' if e %2 == 0 else 'O' for e in lst]
['P' if e > 0 else 'N' if e < 0 else 'Z' for e in lst]
print([(i,j,i*j) for i in range(1,6)  for j in range(1,7)])

### Python Iterator & Generator - 
- generates a value (iterator object) on demand
- genrators are slower than list comprehension
- generators are memory efficient
- when to use: whenever, you need to do manipulation on set of values and return the output as a single value
- Iterable - An object that can be looped over, iterated over. Ex. List,set,tuples, dictionaries,strings. But, every iterable is not neccessarily be an iterator. But a list itself is not an iterator. Becomes after iter(), thus next() will work only after converting.
- Iterator => Obj that can be iterated upon. They contain countable no of values.
- Lazy Evaluation - Call by need
- Iterator Protocol
- next() - Built in function used to return next item in an iterator
- iter() - Convert an iterable into iterator
- yield() - when used in place of return in a def, it is a Generator

### Numpy

Inbulit methods => np.mean(), np.max(), np.min(), np.std(), np.sum(), np.cumsum(), np.reshape(), np.median(), np.where(), np.mod(), np.argmax(), etc.

In [15]:
# Sample Input
# 1 2 3 4 5 6 7 8 9
# Sample Output
# [ [ 1 2 3 ]
# [ 4 5 6 ]
# [ 7 8 9 ] ]
import numpy
def arrays(arr):
    arr1 = numpy.array(arr, dtype = int)
    arr2 = arr1.reshape(3, 3)
    return arr2
arr = input().strip().split(' ')
result = arrays(arr)
print(result)

1 2 3 4 5 6 7 8 9
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [17]:
lst = [1, 2, 3, 1, 2, 3]
lst.sort()
print(lst)

[1, 1, 2, 2, 3, 3]

In [28]:
lst1 = [1, 2, 3]
lst2 = [4,5,6]
lst3=lst1+lst2
lst3

[1, 2, 3, 4, 5, 6]

In [26]:
mystr = 'my name is deepak khadke'
s = mystr.split()
s

['my', 'name', 'is', 'deepak', 'khadke']

In [25]:
aaa = 'my name is deepak khadke 87236432'
bbb = ' '.join(aaa)
bbb[::-1]

'2 3 4 6 3 2 7 8   e k d a h k   k a p e e d   s i   e m a n   y m'

In [22]:
sum([int(item) for item in input('Enter numbers: ').split(' ')])

Enter numbers: 1 2 3 4 5 6

21

#### Array Problems -

In [30]:
# Find indes of 1st non repeating integer in the array
# Can use dictionary to keep track of freq of each integer. Then iterate in array to find the 1st.

def first_nonrepeating_int(arr):
    freq_dict = {} # num & it's freq
    
    # Count freq of each integer
    for index, num in enumerate(arr):
        if num in freq_dict:
            freq_dict[num]+=1
        else:
            freq_dict[num]=1
    #Fetching the 1st - 
    for index, num in enumerate(arr):
        if freq_dict[num]==1:
            return index
    return -1

In [31]:
index = first_nonrepeating_int([1,2,3,4,5,5,1])
index

1

### Tuple, Dictionary

§ Looping thro' = for kv in students.items(): ---------- Here tuple format. Key will be 1st element of the tuple and all values will be the 2nd element forming either a list or tuple again. Both elements will be separated by comma
§  for k,v in students.items(): ------------------------------- Here no comma, Both Key Values appear in front of another
§ Students.keys(), students.values(), students.items()

In [ ]:
row_number = 1
offer_data=pd.read_csv("D:\PROL\June23\PROL_OFFERS_NEW\output/prol_cibil_repsonse_bflp.txt",\
                       sep = '~',encoding='iso-8859-1',nrows=row_number)
offer_data

In [38]:
dictionary = {'Name': 'Tanu', 'Sex': 'Male', 'Age': 23, 'Height': 5.8, 'Occupation': 'Student'}

In [42]:
for i,j in dictionary.items():
    print(i,j)

Name Tanu
Sex Male
Age 23
Height 5.8
Occupation Student

In [47]:
# Sorting the dictionary - 
#By key - 
keys = list(dictionary.keys())
keys.sort()
sorted_dict = {i: dictionary[i] for i in keys}
sorted_dict

{'Age': 23,
 'Height': 5.8,
 'Name': 'Tanu',
 'Occupation': 'Student',
 'Sex': 'Male'}

# Merging 2- 

# Python code to merge dict using update() method
1] def Merge(dict1, dict2):
    return(dict2.update(dict1))
2] res = {**dict1, **dict2}
3] res = dict1 | dict2
4] for i in dict2.keys():
        dict1[i]=dict2[i]
5] merged_dict = dict(dict1.items() | dict2.items())

In [48]:
test_dict = {"Gfg": [5, 7, 5, 4, 5],
             "is": [6, 7, 4, 3, 3],
             "Best": [9, 9, 6, 5, 5]}

In [49]:
# Maximum no of Unique values -
unique_counts = [(key, len(set(values))) for key, values in test_dict.items()]

In [53]:
unique_counts

[('Gfg', 3), ('is', 4), ('Best', 3)]

In [54]:
max_key = max(unique_counts, key=lambda x: x[1])[0]
max_key

'is'

# Experian Dataset -

In [ ]:
Experian_df = pd.read_csv(r'C:\Users\deepakkhadke\OneDrive - Bajaj Finance Limited\Desktop\Experian\input1.csv',\
     sep = ",",encoding = 'ISO-8859-1',on_bad_lines='skip')

Experian_df['ID'],Experian_df.ID are Series....but
Experian_df[['ID']] is a DATAFRAME object!

Group By -
1] By default, 2 default variables having names = group_name & group_data.
   PK -> group_name $ the corresponding data -> group_data.
2] .groups gives you all PKs in group_name. The object is not series or df but ->         pandas.io.formats.printing.PrettyDicty. Now we know that unlike list, dictionary is not ordered, thus it is neither directly subscriptable or callable, thus [0] won't work.
3] .keys() prints all PK as .groups becomes a Dictionary Object. What works is found below. 
4] Understand list[] and list(). () is calling the list method and [] is used for indexing,slicing,accessing elements. 
5] Group By object must be iterated to get the Keys & Values and convert into dictionary/dataframes. 
6] Group By will preserve the order in which observations are sorted within each group
7] By default NA values are excluded from group keys during the groupby. Pass dropna=False to avoid.
8] In the case of grouping by multiple keys, the group name will be a tuple:
9] When you do Aggregation, keys of the groups appear in the index by default.
10]

In [ ]:
oo=Experian_df.groupby('ID') # Note we haven't done aggregation
# To access 1st element -
list(oo.groups.keys())[0]

gb.<TAB>  # noqa: E225, E999
gb.agg        gb.boxplot    gb.cummin     gb.describe   gb.filter     gb.get_group  gb.height     gb.last       gb.median     gb.ngroups    gb.plot       gb.rank       gb.std        gb.transform
gb.aggregate  gb.count      gb.cumprod    gb.dtype      gb.first      gb.groups     gb.hist       gb.max        gb.min        gb.nth        gb.prod       gb.resample   gb.sum        gb.var
gb.apply      gb.cummax     gb.cumsum     gb.fillna     gb.gender     gb.head       gb.indices    gb.mean       gb.name       gb.ohlc       gb.quantile   gb.size       gb.tail       gb.weight

In [ ]:
# 1st row of each group - 
first = oo.first()
type(first) #pandas.core.frame.DataFrame, will have all columns.
first.head(1)

In [ ]:
# Alt 1st element - 
first_group_name = list(oo.groups.keys())[0]
first_group = oo.get_group(first_group_name)
first_group

Getting a group by it's value - 
- grouped.get_group(value of the PK)

In [ ]:
#Converting the object into dataframe
grouped_df = Experian_df.groupby('ID', as_index=False).apply(pd.DataFrame)

In [ ]:
grouped_df.shape

In [ ]:
# Convert GroupBy object to a dictionary
group_dict = {}
for group_name, group_data in oo:
    group_dict[group_name] = group_data.to_dict(orient='list')

In [ ]:
# Into a list - 
group_list = [group_data for group_name, group_data in Experian_df.groupby('group_column')]

In [ ]:
type(oo.groups)

Inbuilt Methods - 
- any()
- all()
- count()
- idxmax(),idxmin() - Index of the max & min value in each group
- cov() - Covariance of the group
- max(), mean(), median()
- nunique() - No of Unique values
- size() - Size of each group
- Apply multiple functions at once -> grouped[["C", "D"]].agg(["sum", "mean", "std"])

pandas Index objects support duplicate values. If a non-unique index is used as the group key in a groupby operation, all values for the same index value will be considered to be in one group and thus the output of aggregation functions will only contain unique index values:

In [ ]:
lst = [1, 2, 3, 1, 2, 3]
s = pd.Series([1, 2, 3, 10, 20, 30], lst) #lst assigned as index
grouped = s.groupby(level=0)

In [ ]:
grouped.first()

In [ ]:
grouped.last()

In [ ]:
grouped.sum()

#### DATAFRAME -

In [7]:
df = pd.DataFrame.from_dict(
    {
        'Name': ['Jane', 'Melissa', 'John', 'Matt','NaN'],
        'Age': [23, 45, 35, 64,np.nan],
        'Birth City': ['London', 'Paris', 'Toronto', 'Atlanta','NaN'],
        'Gender': ['F', 'F', 'M', 'M','NaN']
    }
)

In [8]:
df

      Name   Age Birth City Gender
0     Jane  23.0     London      F
1  Melissa  45.0      Paris      F
2     John  35.0    Toronto      M
3     Matt  64.0    Atlanta      M
4      NaN   NaN        NaN    NaN

In [9]:
df[pd.isnull(df['Gender'])]

Empty DataFrame
Columns: [Name, Age, Birth City, Gender]
Index: []

# Interview Questions -

Common elements in 2 lists - 
common_elements = list(set(list1) & set(list2))

In [ ]:
#Question 15: Rotate an array to the right by a given number of steps
def rotate_array(arr, k):
    n = len(arr) #5
    k = k % n  
    return arr[-k:] + arr[:-k]
a = [1,2,3,4,5]
b = rotate_array(a,1)
b

In [ ]:
#Question 18: Implement a binary search algorithm
def binary_search(arr, target):
    left, right = 0 , len(arr) - 1
    while left <= right:
        mid = (left + right) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            left = mid + 1
        else:
            right = mid - 1
    return -1
a = [1,2,3,4,5,6]
binary_search(a,3)

In [ ]:
#Question 19: Calculate the power of a number using recursion.
def power(x, n):
    if n == 0:
        return 1
    elif n % 2 == 0:
        return power(x, n // 2) ** 2
    else:
        return x * power(x, n - 1)
power(a,10)

### Sumit Mittal's DSA problems -

### Neetcode's Leetcode Problems -

In [ ]:
# Self Product of an array w/o the respective positioned number - 
nums = [2,3,4,5,6]
def productexceptself(nums):
    res = [1]*(len(nums))
    prefix=1
    for i in range(len(nums)):
        res[i]=prefix
        prefix*=nums[i]
    postfix=1
    for i in range(len(nums)-1,-1,-1): #? 
        res[i]*=postfix
        postfix*=nums[i]
    return res
prod = productexceptself(nums)
prod

In [ ]:
nums = [1,2,3,4,5]
res = [1]*(len(nums))
res

#### Find continuos subarray(amin 1 number) having largest sum & return it

- Brute Force => just compute every single subarray from start to end. Repeat for every number following on. But time complexty very very high
- Solution - 
- prev lesser value doesn't matter. Thus ignore. Calculate max sum upto a number where the number is decreasing the max sum value. Calculate such max values and return.

In [ ]:
nums = [2,3,4,5,6]
def contiguoussubarray(nums):
    maxsub = nums[0]
    cursum = 0
    for n in nums:
        if cursum < 0:
            cursum = 0
        cursum+=n
        maxsub=max(maxsub,cursum)
    return maxsub

In [ ]:
prod = contiguoussubarray(nums)
prod

### Maximum Product subarray - Dynamic Programming

In [ ]:
nums = [2,3,4,5,6,-6,-4,0,-4,5,6,-7,0,-5,-2,2]
def contiguoussubarrayprod(nums):
    res=max(nums) # coz when array has 0 Or -1, res becomes invalid.
    currmin,currmax=1
    for n in nums:
        if n==0:
            currmin,currmax=1
            continue
        tmp=n*currmax # to keep track of what currmax is and what currmin is
        currmax = max(n*currmax,n*currmin,n)
        currmin = min(tmp,n*currmin,n)
        res=max(res,currmax)
    return res

In [ ]:
prod = contiguoussubarrayprod(nums)
prod

In [ ]:
arr = [1,2,3,4,5]
for i in arr:
    if i==2:
        continue
    print(i)

In [ ]:
def removeDuplicates(array):
    size = len(array)
    insertIndex = 1
    for i in range(1, size):
        if array[i - 1] != array[i]:
            # Updating insertIndex in our main array
            array[insertIndex] = array[i]
            # Incrementing insertIndex count by 1
            insertIndex = insertIndex + 1
            print(array)
    return insertIndex

In [ ]:
array_1 = [1,2,2,3,3,4]
removeDuplicates(array_1)

In [ ]:
#pythagorean -
def hasPythagoreanTriplet(nums):
    squared_nums = set([num * num for num in nums])  # Create a set of squared values
    for i in range(len(nums)):
        for j in range(i + 1, len(nums)):
            # Calculate the sum of squares of two numbers
            sum_of_squares = nums[i] * nums[i] + nums[j] * nums[j]
            if sum_of_squares in squared_nums:
                return True            
    return False

In [ ]:
input_nums = [3, 5, 5, 6, 13, 9,12]
result = hasPythagoreanTriplet(input_nums)
print(result)  # Output: True

In [ ]:
# Denominations & Amount - Dynamic Programming
denominations = [1,2,5]
amount = 5

In [ ]:
solution = [0] * (amount + 1)
solution[0] = 1
for den in denominations:
    for i in range(den, amount + 1): #1 to 6? -- 1-5
        #print(i)
        solution[i] += solution[i - den] 
        print(solution)
print(solution[len(solution) - 1])

In [ ]:
# Missing element in a continuos array
list1 = [1,5,6,3,4]
def findmissing(list1):
    currsum = sum(list1) #19
    correctsum = ((len(list1)+1)*(len(list1)+2))/2
    return correctsum-currsum
findmissing(list1)

In [ ]:
#Given an array arr[], find the maximum difference in consecutive values and their index - 
# myarr = [4,6,3,4,7,2,233,64,56,77,22,0,86,54]
myarr = [5, 70, 40, 50, 12, 38, 98]
lambai = len(myarr)
maxdiff = 0
for i in range(1,len(myarr)):
#     maxdiff = max(maxdiff,myarr[i]-myarr[i-1]
      if maxdiff < myarr[i]-myarr[i-1]:
        maxdiff = myarr[i]-myarr[i-1]
        jmax = i
        imax = i-1
print("Maxdiff - ",maxdiff) 
print("Max j - ",jmax)
print("Max i - ",imax)

In [ ]:
# Maximum difference max(j – i) such that arr[j] > arr[i]-  
myarr = [4,6,3,4,7,2,233,64,56,77,22,0,86] 

n = len(myarr) # 13
left_min = [0] * n
left_min[0] = myarr[0]
for i in range(1, n):
    left_min[i] = min(left_min[i - 1], myarr[i])

right_max = [0]*n
right_max[n-1] = myarr[n-1]
for i in range(n-2,-1,-1):
    right_max[i] = max(right_max[i+1],myarr[i])

i, j, max_diff = 0, 0, -1
while i < n and j < n:
    if left_min[i] < right_max[j]:
        max_diff = max(max_diff, j - i)
        j += 1
    else:
        i += 1
print(i,j,max_diff)

In [ ]:
def max_index_diff(array):
    n = len(array)
    max_diff = 0# why -1 here?
    for i in range(0, n):
        j = n - 1
        while(j > i):
            if array[j] > array[i] and max_diff < (j - i):
                max_diff = j - i
            j -= 1

    return max_diff

In [ ]:
max_distance(myarr)

In [ ]:
myarr = [4,6,3,4,7,2,233,64,56,77,22,0,86] 
myarr1 = myarr.sort
myarr1